@page "/products"

@inject IDbContextFactory<ButcherShopContext> DbFactory

<h3>商品マスタ</h3>

<a href="/products/new" class="btn btn-primary" role="button">商品を追加する</a>

<table class="table">
    <thead>
        <tr>
            <th>カテゴリー</th>
            <th>商品名 (よみがな)</th>
            <th>単価</th>
            <th>単位</th>
            <th>並び順</th>
            <th>更新日時</th>
        </tr>
    </thead>
    <tbody>
        @if (_products is null)
        {
            <p><em>読み込み中です...</em></p>
        }
        else
        {
            @foreach (var product in _products)
            {
                <tr>
                    <td>@product.Category.CategoryName</td>
                    <td><a href="/products/@product.ProductID">@product.ProductName (@product.Yomigana)</a></td>
                    <td>@product.UnitPrice</td>
                    <td>@product.Unit.UnitName</td>
                    <td>@product.SortOrder</td>
                    <td>@product.EditedDatetime</td>
                </tr>
            }

        }
    </tbody>
</table>

@code {
    private List<Product>? _products;

    protected override async Task OnInitializedAsync()
    {
        var context = DbFactory.CreateDbContext();

        if (context is not null && context.Products is not null)
        {
            _products = await context.Products
                             .Include(p => p.Category)
                             .Include(p => p.Unit)
                             .OrderBy(c => c.Category.SortOrder)
                             .ThenBy(p => p.SortOrder)
                             .ToListAsync();
        }
    }
}
